.box-container{
    height: 500px;
    display: flex;/*Permite el uso de propiedades flex -> flexible*/
    /*
    Cualquier elemento secundario puede ser organizado en filas o columnas
    */
    flex-direction: row;/*Por defecto es row
    row, row-reverse
    */
    justify-content: center;/*Alineación del eje principal
    flex-start, flex-end, space-between, space-around, space-evenly
    */

    align-items: center;
    background-color: gray;
}

.box-1{
    background-color: orangered;
    width: 25%;
    height: 20%;
}

.box-2{
    background-color: dodgerblue;
    width: 25%;
    height: 20%;
}
